#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    padding-top: $padding-main;

    .about-div {
      padding: 1rem;

      h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}
