.encabezado {
    position: relative;
    height: 500px;
    background-image: url(../../assets/backgroudnimage1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      text-align: center;
    }
  }