#login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    padding-top: $padding-main;

    .login-div {
      padding: 1rem;

      h1 {
        margin-bottom: 2rem;
        text-align: center;
      }

      .login-form {
        @include auth_form
      }
    }
  }
}
