#register {
    main{
        padding-top: $padding-main;

    .register-div {
        padding: 1rem;

        h1 {
            text-align: center;
            margin-bottom: 2rem;
          }

          .register-form {
            @include auth_form;
          }
      }
    }
    
  }